DOMAIN=https://vaultwarden.example.com
ACME_EMAIL=admin@example.com
TZ=Europe/Paris

PUID=1000
PGID=1000

VAULTWARDEN_IMAGE=vaultwarden/server:1.35.7-alpine
CADDY_IMAGE=caddy:2-alpine

SIGNUPS_ALLOWED=false
INVITATIONS_ALLOWED=false
SHOW_PASSWORD_HINT=false
LOG_LEVEL=warn
