DOMAIN=http://localhost:8080
NGINX_HOST=localhost
ACME_EMAIL=admin@example.com
TZ=Europe/Paris

PUID=1000
PGID=1000

VAULTWARDEN_IMAGE=vaultwarden/server:1.35.7-alpine
NGINX_IMAGE=nginx:1.29-alpine
CERTBOT_IMAGE=certbot/certbot:v5.0.0

SIGNUPS_ALLOWED=false
INVITATIONS_ALLOWED=false
SHOW_PASSWORD_HINT=false
LOG_LEVEL=warn
VAULTWARDEN_HTTP_PORT=8080
