{
	email {$ACME_EMAIL}
}

{$DOMAIN} {
	encode zstd gzip

	header {
		Strict-Transport-Security "max-age=31536000"
		X-Content-Type-Options "nosniff"
		X-Frame-Options "DENY"
		Referrer-Policy "same-origin"
		Permissions-Policy "camera=(), microphone=(), geolocation=()"
		-Server
	}

	log {
		output file /data/access.log {
			roll_size 10MiB
			roll_keep 10
			roll_keep_for 720h
		}
	}

	reverse_proxy vaultwarden:8080 {
		header_up X-Real-IP {remote_host}
	}
}
